body,
html {
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__logo {
    background-color: #011827;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}

.header__logo-img {
    width: 130px;
    height: 90px;
    padding: 1rem 0.5rem 2.5rem 1rem;
}

.header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    padding: 0 0 1.2rem 0;
    font-weight: 500;
}

.header__menu {
    display: none;
}

.header__hero {
    max-height: 250px;
    width: 100%;
    overflow: hidden;
}

.header__hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
}

.header__cta-blue {
    background-color: #8ACFE5;
    color: #011827;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.header__cta-red {
    margin: 2rem;
    color: #36769D;
    font-weight: bold;
}

.testimonials {
    display: flex;
    flex-direction: column;

}

.testimonials__1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0rem 1.5rem 3rem 1.5rem;
}

.testimonials__img-box {
    max-width: 70px;
    min-width: 50px;
    margin-top: 1.5rem;
}

.testimonials__img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    margin: 0;
    padding: 0;
}

.testimonials__quote {
    font-size: 1.5rem;
    font-weight: 350;
}

.testimonials__name {
    margin-top: -15px;
    font-size: 1.1rem;
    font-weight: 350;
}

.testimonials__2 {
    display: none;
}

.challenges__title {
    text-align: center;
    font-weight: normal;
    font-size: 1.7rem;
    margin: 2rem 1rem;
}

.challenges__1 {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.challenges__img {
    width: 100%;
}

.challenges__room-title {
    font-size: 1.5rem;
    margin: 1rem 1rem 0 0.5rem;
}

.challenges__star-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
    margin-top: -1rem;
    margin-bottom: -2rem;
}

.challenges__stars {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-height: 15px;
}

.challenges__stars-img {
    height: 15px;
    width: auto;
}

.challenges__text {
    margin: 2rem 1rem;
    font-size: 1.15rem;
    font-weight: 360;
}

.challenges__cta-red {
    background-color: #E3170A;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    max-width: 50%;
    margin: 1rem;
    margin-top: -1rem;
    align-self: flex-end;
}

.challenges__2 {
    display: none;
}

.challenges__3 {
    display: none;
}

.challenges__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
}

.story {
    background-color: #011827;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.story__text {
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: 310;
}

.story__cta {
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    margin: 1rem 5rem 6rem 5rem;
}

.friends {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.friends__img-box {
    width: 100%;
}

.friends__img {
    width: 100%;
}

.friends__header {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}

.friends__text {
    font-size: 1.5rem;
    margin: 2rem 1rem 4rem 1rem;
}

.friends__cta-box {
    margin: 1rem;
}

.friends__cta {
    background-color: #E3170A;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    max-width: 50%;
}

.online {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.online__img-box {
    width: 100%;
}

.online__img {
    width: 100%;
}

.online__header {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}

.online__text {
    font-size: 1.5rem;
    margin: 2rem 1rem 4rem 1rem;
}

.online__cta {
    background-color: #E3170A;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    max-width: 50%;
    margin: 1rem 1rem 3rem 1rem;
}

.footer {
    background-color: #011827;
    color: #FFFFFF;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 3rem 1rem;
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__header {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.footer__text {
    margin: 0 0 2rem 0;

}

.footer__list--link {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
}

.footer__list-gap {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer__sub-header {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (min-width: 1200px) {

    .header__logo-img {
        width: 140px;
        padding: 1rem 0.5rem 1.5rem 1rem;
    }

    .header__title {
        flex-direction: row;
        align-items: end;
        font-size: 42px;
        margin: 1rem 0;
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        background-color: #011827;
        list-style: none;
        justify-content: space-evenly;
        margin: 0;
        padding: 2rem 1rem 2rem 1rem;
    }

    .header__menu-link {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .header__menu-link:hover {
        color: #8ACFE5;
    }

    .header {
        background-color: #011827;
        margin: 0;
    }

    .header__title-span {
        margin-left: 1rem;
    }

    .header__hero {
        max-height: 470px;
    }

    .header__cta {
        flex-direction: row;
        justify-content: center;
        margin-top: -65px;
    }

    .header__cta-red {
        background-color: #E3170A;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
        padding: 1.2rem 3rem;
        font-size: 1.5rem;
        border-radius: 5px;
        max-width: 50%;
        margin-right: 1rem;
    }

    .header__cta-blue {
        order: 2;
        padding: 1.2rem 3rem;
    }

    .testimonials {
        flex-direction: row;
        padding: 2rem 3rem;
    }

    .testimonials__img-box {
        width: 1500px;
    }

    .testimonials__2 {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0rem 1.5rem 3rem 1.5rem;
    }

    .challenges__title {
        font-size: 2.2rem;
    }

    .challenges {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: 5rem 2rem 6rem 2rem;

    }

    .challenges__2 {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        border-radius: 10px;
        margin: 0 auto;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .challenges__3 {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        border-radius: 10px;
        margin: 0 auto;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .challenges__cta {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .challenges__cta-blue {
        background-color: #8ACFE5;
        color: #011827;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
        border-radius: 5px;
        order: 2;
        padding: 1.2rem 3rem;
    }

    .challenges__cta-red {
        background-color: #E3170A;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
        padding: 1.2rem 3rem;
        font-size: 1.5rem;
        border-radius: 5px;
        max-width: 50%;
        margin-right: 1rem;
    }

    .story {
        padding: 4rem 20rem 4rem 20rem;
    }

    .story__cta {
        margin: -1rem 10rem 5rem 10rem;
    }

    .friends {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .friends__img-box {
        width: 500px;
    }

    .friends__text-box {
        width: 500px;
        padding: 3rem 7rem;
    }

     .online {
        display: flex;
        flex-direction: row;
        margin: 0 0 20rem 0;
        
    }

    .online__img-box {
        margin: 0;
        order: 2;
        flex: 1;
    }

    .online__text-box {
        margin: 0;
        flex: 1;
    }
    .footer {
        display: flex;
        flex-direction: row;
        padding: 7rem 1rem 10rem 1rem;
    }

    .footer__text-box {
        flex: 3;
        padding: 0 20rem 0 4rem;
    }

    .footer__site-map {
        flex: 1;
        margin: 0 4rem 0 -5rem;
    }

    .footer__social {
        flex: 1;
        margin-right: 7rem;
    }



}

@media screen and (min-width: 1280px) {
    body {
        max-width: 1280px;
        margin: 0 auto;
    }
}